.App {
  height: 100vh;
}

.navbar {
  border-bottom: 1px solid rgb(218, 214, 214);
  background-color: white;
}

.main {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
}

.image {
  width: 60%;
}

.image img {
  width: 90%;
}

.form {
  width: 40%;
  padding: 30px;
  border: 1px solid rgb(209, 203, 203);
  border-radius: 20px;
}

.form-check {
  margin-top: 10px;
}

.emailHelp {
  font-size: 13px;
}

.navbar-text {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.sign {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: lighter;
}

.row {
  margin-bottom: 15px;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: rgb(32, 33, 36);
  color: white;
}